<main role="main" class="starter-template">
    <div class="row">
        <div class="col-lg-12">
            <h4>Shorten URL</h4>
            </p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group input-group-lg">
                        <input id="url-field" type="text" class="form-control" placeholder="Paste a link...">
                        <span class="input-group-btn">
                    <button class="btn btn-shorten btn-primary" type="button">SHORTEN</button>
                    </span>
                    </div>
                </div>
            </div>
            <br>
            <div id="resultBox" role="alert">
                <div id="link"></div>
            </div>
        </div>
    </div>
</main>